@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="fancyBtn mx-3">@Html.ActionLink("See all Treats and Flavors", "Index", "TreatFlavor")</p>
    <p class="fancyBtn mx-3">@Html.ActionLink("Create an account", "Index", "Account")</p>
    <p class="fancyBtn mx-3">@Html.ActionLink("Search", "ShowSearch", "Flavors")</p>
</div>
