@{
  Layout = "_Layout";
}

@using PierresTreats.Models;

<div class="container my-4">
  <h1 class="text-center">A list of all treats and their flavors!</h1>
  <hr />
  <div class="d-flex flex-column align-items-center my-4">
    <div class="d-flex flex-column align-items-start">    
      @if (@Model.Count == 0)
      {
        <h3>No treats or flavors have been added yet.</h3>
      }
      else
      {
        Dictionary<string, List<string>> dic = new Dictionary<string, List<string>> ();
        foreach (TreatFlavor treatflavor in Model)
        {
          string treatName = treatflavor.Treat.Name;
          string flavorDescription = treatflavor.Flavor.Description;
          if (dic.ContainsKey(treatName))
          {
            dic[treatName].Add(flavorDescription);
          }
          else
          {
            List<string> flavorList = new List<string>();
            flavorList.Add(flavorDescription);
            dic.Add(treatName, flavorList);
          }
        }

        foreach (KeyValuePair<string, List<string>> kvp in dic)
        {
          <p><strong>@kvp.Key</strong></p>
          <ol>
          @foreach (string name in kvp.Value)
          {
            <li>@name</li>
          }
          </ol>
        }
      }
    </div>
  </div>
  <hr />
</div>